@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----- Tipografías ----- */
/* ----- Variables ----- */
/* ----- Paleta de colores ----- */
.header {
  min-height: 30vh;
  width: 100vw;
  padding: 10px;
  margin-top: 0; }
  .header .header-nav {
    display: flex;
    align-items: center; }
    .header .header-nav .menu-hamburguesa .menu-boton {
      height: 30px;
      width: 30px;
      border: none;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 17px; }
      .header .header-nav .menu-hamburguesa .menu-boton:hoover {
        border-color: #ffffff; }
    .header .header-nav .iniciales-oc {
      width: 30px; }
    .header .header-nav .menu-lista .active {
      font-weight: 600; }
  .header .header-logo {
    margin: auto; }
    .header .header-logo .logo {
      width: 60vw;
      margin: auto; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .header .header-nav .header-logo {
    margin: auto; }
    .header .header-nav .header-logo .logo {
      width: 255px; } }

@media (min-width: 1024px) {
  .header .header-nav .menu-hamburguesa .menu .menu-lista ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  .header .navbar .container {
    flex-wrap: wrap;
    flex-direction: column; } }

.body {
  background: #eae0d5;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.7); }

.main {
  min-height: 60vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }
  .main .highlighted-text {
    color: #fff; }

.main-index-s1 {
  height: 100vh;
  width: 100%;
  background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684355040/proyecto-final/rsz_fondo-granos-cafe_t1oifi.avif);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed; }
  .main-index-s1 h1 {
    font-size: calc(1.1rem + 3vw);
    font-weight: 800;
    color: #fff;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize; }

.main-index-s2 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/ }
  .main-index-s2 .s2-left {
    background-color: #a4ac86;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto; }
    .main-index-s2 .s2-left h1 {
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 2vw;
      margin-left: 5vw; }
    .main-index-s2 .s2-left p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: justify;
      line-height: calc(1rem + 1.2vw);
      width: 100%;
      margin: auto;
      /* margin-left: 80px; */
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 20px; }
  .main-index-s2 .s2-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684042038/proyecto-final/index_gy2zxk.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

.main-index-s3 {
  height: 80vh;
  width: 100vw;
  background: #b6a690;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-index-s3 .s3-wide {
    margin: auto;
    padding: auto;
    padding: 5%; }
    .main-index-s3 .s3-wide .s3-link {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto; }
      .main-index-s3 .s3-wide .s3-link .link-pages {
        height: calc(4em + 7vw);
        width: calc(4em + 7vw);
        background: #b6a690;
        border-radius: 20px;
        box-shadow: -5px -5px 9px #c4b39f, 5px 5px 9px #5e68794d;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center; }
        .main-index-s3 .s3-wide .s3-link .link-pages:hover {
          box-shadow: inset -5px -5px 9px #c4b39f, inset 5px 5px 9px #5e68794d;
          opacity: 0.7;
          transition: 0.4s; }
        .main-index-s3 .s3-wide .s3-link .link-pages .page-link {
          height: 100%;
          width: 100%;
          visibility: visible;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center; }
          .main-index-s3 .s3-wide .s3-link .link-pages .page-link .page-img {
            height: calc(1.5em + 2vw);
            width: calc(0.7em + 2vw);
            margin: auto; }
          .main-index-s3 .s3-wide .s3-link .link-pages .page-link .size-img {
            width: 45%;
            height: 40%; }

.navbar-toggler-icon {
  background-image: url("https://res.cloudinary.com/drb5udcck/image/upload/v1684535563/proyecto-final/hamburger-button_ogoocw.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -2px -2px 3px #f6ede4, 2px 2px 3px #a89b8e;
  border-color: #b6a690; }

/* usar extend pra todas las pages */
/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .main-index-s3 {
    justify-content: space-betweeb; } }

@media (min-width: 1024px) {
  .main-index-s2 {
    flex-direction: row; }
    .main-index-s2 .s2-left h1 {
      margin-bottom: 1vw; }
    .main-index-s2 .s2-left p {
      width: 90%;
      text-align: left;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-bottom: 2px; }
    .main-index-s2 .s2-left .s2-right {
      width: 50%; } }

/* NUESTRO CAFÉ: container 1 */
.main-nuestro-cafe-s1 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/ }
  .main-nuestro-cafe-s1 .s1-left {
    background-color: #bf6f4e;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto; }
    .main-nuestro-cafe-s1 .s1-left h1 {
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 2vw;
      margin-left: 5vw; }
    .main-nuestro-cafe-s1 .s1-left p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: justify;
      line-height: calc(1rem + 1.2vw);
      width: 100%;
      margin: auto;
      /* margin-left: 80px; */
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 20px; }
  .main-nuestro-cafe-s1 .s1-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684075831/proyecto-final/nc-cafe-en-casa_mvdurz.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

/* NUESTRO CAFÉ: section 2 */
.main-nuestro-cafe-s2 {
  height: 60vh;
  width: 100vw;
  background-color: #eae0d5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .main-nuestro-cafe-s2 h2 {
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    font-weight: 600;
    font-size: calc(1.1rem + 2vw); }
  .main-nuestro-cafe-s2 .box-cafe {
    height: 50%;
    display: flex;
    width: 90vw;
    padding: 2% 10%;
    box-sizing: border-box;
    /* height: 100vh; */ }
    .main-nuestro-cafe-s2 .box-cafe .box {
      flex: 1;
      height: 80%;
      min-height: 5vh;
      overflow: hidden;
      transition: 0.5s;
      margin: 0 2%;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
      line-height: 0;
      background-color: #ddd;
      box-shadow: -5px -5px 9px #f7f6f4, 5px 5px 9px #a89b8e;
      border-radius: 7px; }
      .main-nuestro-cafe-s2 .box-cafe .box:hover {
        flex: 1 1 100%; }
      .main-nuestro-cafe-s2 .box-cafe .box img {
        height: calc(100%);
        object-fit: cover;
        transition: 0.5s; }
        .main-nuestro-cafe-s2 .box-cafe .box img:hover {
          width: 100%;
          height: 100%; }

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .main-nuestro-cafe-s1 {
    flex-direction: row; }
    .main-nuestro-cafe-s1 .s1-left h1 {
      width: 60%;
      margin-bottom: 1vw; }
    .main-nuestro-cafe-s1 .s1-left p {
      width: 90%;
      text-align: left;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-bottom: 2px; }
    .main-nuestro-cafe-s1 .s1-left .s1-right {
      width: 50%; }
  .main-nuestro-cafe-s2 {
    height: 100vh; }
    .main-nuestro-cafe-s2 .box-cafe {
      height: 70vh;
      width: 90vw;
      padding: 2% 5%; }
      .main-nuestro-cafe-s2 .box-cafe .box {
        max-height: 40vh; }
        .main-nuestro-cafe-s2 .box-cafe .box:hover {
          flex: 1 1 20% !important; }
        .main-nuestro-cafe-s2 .box-cafe .box img {
          width: 100%; }
          .main-nuestro-cafe-s2 .box-cafe .box img:hover {
            width: 100%;
            height: 100%; }
  .video {
    height: 100vh; }
  iframe {
    width: 100%;
    height: 100%;
    /* height: 100%; */ } }

/* DONDE ENCONTRARNOS: container 1 */
.main-donde-encontrarnos-s1 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/ }
  .main-donde-encontrarnos-s1 .s1-left {
    background-color: #bf6f4e;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto; }
    .main-donde-encontrarnos-s1 .s1-left h1 {
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 2vw;
      margin-left: 5vw; }
    .main-donde-encontrarnos-s1 .s1-left p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: justify;
      line-height: calc(1rem + 1.2vw);
      width: 100%;
      margin: auto;
      /* margin-left: 80px; */
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 20px; }
  .main-donde-encontrarnos-s1 .s1-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684569264/proyecto-final/copenhagen_psv7b7.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

/* DONDE ENCONTRARNOS: section 2 */
.main-donde-encontrarnos-s2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0; }
  .main-donde-encontrarnos-s2 h2 {
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    font-weight: 600;
    font-size: calc(1.1rem + 2vw); }
  .main-donde-encontrarnos-s2 .s2-cards {
    margin: auto; }
    .main-donde-encontrarnos-s2 .s2-cards .card-location {
      max-width: 960px;
      border-radius: 32px;
      box-shadow: -24px -24px 80px #f6ede4, 24px 24px 80px #a89b8e;
      padding: 1rem;
      box-sizing: border-box;
      margin: 20px;
      display: flex;
      flex-direction: column; }
      @media (min-width: 576px) {
        .main-donde-encontrarnos-s2 .s2-cards .card-location {
          flex-direction: row;
          align-items: center;
          margin: 40px;
          padding: 32px; } }
      .main-donde-encontrarnos-s2 .s2-cards .card-location .card-map {
        width: 100%;
        max-height: 200px;
        border-radius: 32px;
        object-fit: cover;
        margin-bottom: 18px; }
        @media (min-width: 576px) {
          .main-donde-encontrarnos-s2 .s2-cards .card-location .card-map {
            width: 45%;
            max-height: none;
            min-height: 200px;
            margin-bottom: 0; } }
      @media (min-width: 576px) {
        .main-donde-encontrarnos-s2 .s2-cards .card-location .card-info {
          width: 55%;
          padding-left: 1.5rem; } }
      .main-donde-encontrarnos-s2 .s2-cards .card-location .card-info .card-title {
        text-transform: uppercase;
        font-size: calc(1.1rem + 1vw);
        line-height: 1.4;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
        box-decoration-break: clone;
        background: #b6a690;
        background-size: 25 .main-donde-encontrarnos-s2 .s2-cards .card-location .card-info .card-title 100%;
        padding: 0 4px;
        padding-left: 10px;
        margin-left: -4px;
        margin-bottom: 2rem; }
      .main-donde-encontrarnos-s2 .s2-cards .card-location .card-info .card-horario {
        display: block;
        font-size: calc(0.7rem + 0.2vw);
        line-height: 1.2;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 2rem; }
        @media (min-width: 576px) {
          .main-donde-encontrarnos-s2 .s2-cards .card-location .card-info .card-horario {
            margin-bottom: 8px; } }

/* MEDIA QUERIS */
@media screen and (min-width: 1024px) {
  .main-donde-encontrarnos-s1 {
    flex-direction: row; }
    .main-donde-encontrarnos-s1 .s1-left h1 {
      width: 60%;
      margin-bottom: 1vw; }
    .main-donde-encontrarnos-s1 .s1-left p {
      width: 90%;
      text-align: left;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-bottom: 2px; }
    .main-donde-encontrarnos-s1 .s1-left .s1-right {
      width: 50%; } }

/* SUSTENTABILIDAD: container # */
.main-sustentabilidad-s1 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/ }
  .main-sustentabilidad-s1 .s1-left {
    background-color: #bf6f4e;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto; }
    .main-sustentabilidad-s1 .s1-left h1 {
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      /* padding-top: 4vw; */
      margin-bottom: 2vw;
      margin-left: 5vw; }
    .main-sustentabilidad-s1 .s1-left p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: justify;
      line-height: calc(1rem + 1.2vw);
      width: 100%;
      margin: auto;
      margin-top: 0;
      /* margin-left: 80px; */
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 20px; }
  .main-sustentabilidad-s1 .s1-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684518137/proyecto-final/rsz_1cafe-sustentabilidad_sbfk1k.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

.main-sustentabilidad-s {
  padding-top: 5vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  font-size: calc(0.5rem + 1.5vw);
  line-height: 1.5;
  height: 100vh;
  place-items: center; }
  .main-sustentabilidad-s a {
    text-decoration: none;
    color: #18272f;
    font-weight: 600;
    position: relative; }
    .main-sustentabilidad-s a::before {
      content: "";
      background-color: #a4ac86;
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 8px;
      z-index: -1;
      transition: all 0.3s ease-in-out; }
    .main-sustentabilidad-s a:hover::before {
      bottom: 0;
      height: 100%; }
    .main-sustentabilidad-s a:link {
      text-decoration: none; }
    .main-sustentabilidad-s a:visited {
      text-decoration: none; }
    .main-sustentabilidad-s a:active {
      text-decoration: none; }

.sustentabilidad-container1 {
  width: 100vw;
  margin: auto;
  margin-top: 39vh;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .sustentabilidad-container1 .c1-info-sustentabilidad {
    margin-bottom: 50px;
    padding: 20px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad h1 {
      margin-top: 40px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad p {
      margin: 20px 20px 20px 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad .c1-lista {
      margin: auto;
      letter-spacing: 1px;
      margin-bottom: 30px; }
      .sustentabilidad-container1 .c1-info-sustentabilidad .c1-lista ol {
        text-align: center;
        list-style: decimal;
        font-weight: 600;
        letter-spacing: 1px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad a {
      width: 150px;
      margin: auto;
      font-size: 15px;
      padding: 20px;
      color: #000000;
      text-align: center;
      text-decoration: none; }
      .sustentabilidad-container1 .c1-info-sustentabilidad a:hover {
        font-size: 15px;
        padding: 20px;
        color: #000000;
        text-decoration: underline; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media screen and (min-width: 1024px) {
  .main-sustentabilidad-s1 {
    flex-direction: row; }
    .main-sustentabilidad-s1 .s1-left {
      width: 50%; }
      .main-sustentabilidad-s1 .s1-left h1 {
        width: 60%; }
      .main-sustentabilidad-s1 .s1-left p {
        width: 90%;
        text-align: left;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2px; }
    .main-sustentabilidad-s1 .s1-right {
      width: 50%; } }

@media (min-width: 768px) {
  .sustentabilidad-container1 {
    margin-top: 50vh; } }

/* CONTACTO: container 1 */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px; }

.contacto-s1 {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eae0d5; }
  .contacto-s1 .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px; }
    .contacto-s1 .container .c1-titulo {
      padding-top: 5vh;
      padding-bottom: 2vh;
      padding-left: 5vw;
      font-weight: 600;
      font-size: calc(1.1rem + 2vw); }
    .contacto-s1 .container .screen {
      position: relative;
      background: #b6a690;
      border-radius: 15px;
      box-shadow: -10px -10px 9px #f6ede4, 5px 5px 9px #a89b8e; }
      .contacto-s1 .container .screen:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        z-index: -1; }
      .contacto-s1 .container .screen .screen-body {
        padding: 40px;
        display: flex;
        flex-direction: column; }
        .contacto-s1 .container .screen .screen-body .screen-body-item {
          flex: 1;
          padding: 0; }
          .contacto-s1 .container .screen .screen-body .screen-body-item .app-title {
            display: flex;
            flex-direction: column;
            /* flex-direction: row; */
            position: relative;
            color: #fff;
            font-size: 26px; }
            .contacto-s1 .container .screen .screen-body .screen-body-item .app-title:after {
              content: "";
              display: none;
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 25px;
              height: 4px;
              background: #fff; }
            .contacto-s1 .container .screen .screen-body .screen-body-item .app-title span {
              margin-right: 12px; }
          .contacto-s1 .container .screen .screen-body .screen-body-item .app-contact {
            margin-top: 15px;
            font-size: 12px;
            color: #5a5248; }
            .contacto-s1 .container .screen .screen-body .screen-body-item .app-contact p {
              margin-bottom: 3px; }
        .contacto-s1 .container .screen .screen-body .left {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px; }
        .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group {
          margin-bottom: 15px;
          font-weight: 600; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #5a5248;
            color: #5a5248;
            font-size: 14px;
            font-weight: 700;
            line-height: inherit;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group::placeholder {
            color: #5a5248; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group:focus {
            border-bottom-color: #5a5248; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-button {
            background: none;
            border: none;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            outline: none; }
            .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-button:hover {
              color: rgba(0, 0, 0, 0.8);
              transform: scale(1.07);
              transition: 1s transform; }
        .contacto-s1 .container .screen .screen-body .message {
          margin-top: 40px; }
        .contacto-s1 .container .screen .screen-body .buttons {
          margin-bottom: 0;
          text-align: right; }

@media screen and (min-width: 520px) {
  .screen-body .screen-body-item .app-title {
    /* flex-direction: row; */
    flex-direction: column; }
    .screen-body .screen-body-item .app-title:after {
      display: block; } }

@media screen and (min-width: 600px) {
  .screen-body {
    padding: 40px; }
  .screen-body-item {
    padding: 0; } }

.footer {
  margin: 0;
  min-height: 20vh;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7); }
  .footer .follow-us {
    height: 50px;
    margin-bottom: 20px; }
    .footer .follow-us h4 {
      margin-top: 15px;
      font-size: 12px; }
    .footer .follow-us .social-media {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      align-items: center; }
      .footer .follow-us .social-media img {
        height: 30px;
        width: 30px; }
  .footer .copyright {
    color: #ffffff; }
    .footer .copyright a {
      color: #ffffff;
      text-decoration: none; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .footer {
    height: 150px; }
    .footer .follow-us {
      padding-bottom: 100px; }
      .footer .follow-us h4 {
        font-size: 16px; }
      .footer .follow-us .social-media {
        height: 50px; }
        .footer .follow-us .social-media img {
          height: 40px;
          width: 40px; } }

@media (min-width: 1024px) {
  .footer {
    width: 100vw;
    display: flex;
    align-items: center; }
    .footer .redes {
      width: 50%; }
      .footer .redes .follow-us {
        width: 300px; }
    .footer .copyright {
      width: 50vw; } }
