@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----- Tipografías ----- */
/* ----- Variables ----- */
/* ----- Paleta de colores ----- */
.main-nuestro-cafe-s1 .s1-left, .main__dondeencontrarnoss1__left, .main-sustentabilidad-s1 .s1-left {
  margin: auto;
  padding: 5vw;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly; }

.header {
  min-height: 20vh;
  width: 100vw;
  padding: 10px;
  margin-top: 0;
  display: flex;
  position: relative; }
  .header .header-nav {
    width: 100%; }
    .header .header-nav .container {
      width: 100%;
      display: flex;
      justify-content: left;
      padding-left: 0; }
      .header .header-nav .container .menu-hamburguesa .menu-boton {
        height: 40px;
        width: 40px;
        border: none;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 17px; }
        .header .header-nav .container .menu-hamburguesa .menu-boton:hoover {
          border-color: #ffffff; }
      .header .header-nav .container .menu-hamburguesa .navbar-toggler-icon {
        height: 2.5rem;
        width: 2.5rem; }
        .header .header-nav .container .menu-hamburguesa .navbar-toggler-icon .navbar-toggler-icon {
          background-image: url("https://res.cloudinary.com/drb5udcck/image/upload/v1684535563/proyecto-final/hamburger-button_ogoocw.png");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: -2px -2px 3px #f6ede4, 2px 2px 3px #a89b8e;
          border-color: #b6a690; }
      .header .header-nav .container .menu-hamburguesa .iniciales-oc {
        width: 30px; }
      .header .header-nav .container .menu-hamburguesa .menu-lista .active {
        font-weight: 600; }
      .header .header-nav .container .header-logo {
        width: 80%; }
        .header .header-nav .container .header-logo .navbar-brand {
          display: flex;
          justify-content: center;
          width: 100%; }
          .header .header-nav .container .header-logo .navbar-brand .logo {
            width: clamp(200px, 80%, 500px);
            margin: auto; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .header .header-nav .header-logo {
    margin: auto; } }

@media (min-width: 1024px) {
  .header .header-nav .menu-hamburguesa .menu .menu-lista ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  .header .navbar .container {
    flex-wrap: wrap;
    flex-direction: column; } }

:root {
  font-size: 62.5%; }

.body {
  background: #eae0d5;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.6rem; }

.main {
  min-height: 60vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative; }
  .main .highlighted-text {
    color: #fff; }

.main__indexs1 {
  min-height: 100vh;
  width: 100vw;
  background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684355040/proyecto-final/rsz_fondo-granos-cafe_t1oifi.avif);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed; }
  .main__indexs1__title {
    font-size: calc(1.7em + 1vw);
    font-weight: 800;
    color: #fff;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize; }

.main__indexs2 {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw; }
  .main__indexs2__left {
    background-color: #bf6f4e;
    margin: auto;
    padding: 5vw;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-evenly; }
    .main__indexs2__left h1 {
      margin: 0;
      font-weight: 800;
      font-size: calc(1.7em + 1vw);
      text-transform: uppercase;
      text-align: left;
      width: 50%; }
    .main__indexs2__left__text {
      margin: auto 0;
      font-size: calc(0.4em + 1vw);
      font-weight: 600;
      text-align: justify;
      line-height: 150%;
      width: 100%; }
  .main__indexs2__right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684042038/proyecto-final/index_gy2zxk.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

.main-index-s3 {
  height: 80vh;
  width: 100vw;
  background: #b6a690;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-index-s3 .s3-wide {
    margin: auto;
    padding: auto;
    padding: 5%; }
    .main-index-s3 .s3-wide .s3-link {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto; }
      .main-index-s3 .s3-wide .s3-link .link-pages {
        height: calc(4em + 7vw);
        width: calc(4em + 7vw);
        background: #b6a690;
        border-radius: 20px;
        box-shadow: -5px -5px 9px #c4b39f, 5px 5px 9px #5e68794d;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center; }
        .main-index-s3 .s3-wide .s3-link .link-pages:hover {
          box-shadow: inset -5px -5px 9px #c4b39f, inset 5px 5px 9px #5e68794d;
          opacity: 0.7;
          transition: 0.4s; }
        .main-index-s3 .s3-wide .s3-link .link-pages .page-link {
          height: 100%;
          width: 100%;
          visibility: visible;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center; }
          .main-index-s3 .s3-wide .s3-link .link-pages .page-link .page-img {
            height: calc(1.5em + 2vw);
            width: calc(0.7em + 2vw);
            margin: auto; }
          .main-index-s3 .s3-wide .s3-link .link-pages .page-link .size-img {
            width: 45%;
            height: 40%; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .main-index-s3 {
    justify-content: space-betweeb; } }

@media (min-width: 1024px) {
  .main__indexs2 {
    flex-direction: row; }
    .main__indexs2__left {
      width: 50%; }
      .main__indexs2__left__text {
        text-align: left; }
    .main__indexs2__right {
      width: 50%; } }

/* NUESTRO CAFÉ: container 1 */
.main-nuestro-cafe-s1 {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw; }
  .main-nuestro-cafe-s1 .s1-left {
    background-color: #bf6f4e; }
    .main-nuestro-cafe-s1 .s1-left h1 {
      margin: 0;
      padding-bottom: 4vw;
      font-weight: 800;
      font-size: calc(1.7em + 1vw);
      text-transform: uppercase;
      text-align: left;
      width: 100%; }
    .main-nuestro-cafe-s1 .s1-left p {
      margin: auto 0;
      font-size: calc(0.4em + 1vw);
      font-weight: 600;
      text-align: justify;
      line-height: 150%;
      width: 100%; }
  .main-nuestro-cafe-s1 .s1-right {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684685701/proyecto-final/cafe-hygge_wskh4c.avif);
    background-size: cover;
    background-position: center;
    width: 100%; }

/* NUESTRO CAFÉ: section 2 */
.main-nuestro-cafe-s2 {
  margin: 0 auto;
  height: 60vh;
  width: 100vw;
  background-color: #eae0d5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .main-nuestro-cafe-s2 h2 {
    margin: 0;
    font-weight: 600;
    font-size: calc(1.2em + 1vw); }
  .main-nuestro-cafe-s2 .box-cafe {
    height: 50%;
    display: flex;
    width: 90vw;
    padding: 2% 10%;
    box-sizing: border-box; }
    .main-nuestro-cafe-s2 .box-cafe .box {
      flex: 1;
      height: 80%;
      min-height: 5vh;
      overflow: hidden;
      transition: 0.5s;
      margin: 0 2%;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
      line-height: 0;
      background-color: #ddd;
      box-shadow: -5px -5px 9px #f7f6f4, 5px 5px 9px #a89b8e;
      border-radius: 7px; }
      .main-nuestro-cafe-s2 .box-cafe .box:hover {
        flex: 1 1 100%; }
      .main-nuestro-cafe-s2 .box-cafe .box img {
        height: calc(100%);
        object-fit: cover;
        transition: 0.5s; }
        .main-nuestro-cafe-s2 .box-cafe .box img:hover {
          width: 100%;
          height: 100%; }

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .main-nuestro-cafe-s1 {
    flex-direction: row; }
    .main-nuestro-cafe-s1 .s1-left h1 {
      width: 80%; }
    .main-nuestro-cafe-s1 .s1-left p {
      text-align: left; }
    .main-nuestro-cafe-s1 .s1-left .s1-right {
      width: 50%; }
  .main-nuestro-cafe-s2 {
    height: 100vh; }
    .main-nuestro-cafe-s2 .box-cafe {
      height: 70vh;
      width: 90vw;
      padding: 2% 5%; }
      .main-nuestro-cafe-s2 .box-cafe .box {
        max-height: 40vh; }
        .main-nuestro-cafe-s2 .box-cafe .box:hover {
          flex: 1 1 20% !important; }
        .main-nuestro-cafe-s2 .box-cafe .box img {
          width: 100%; }
          .main-nuestro-cafe-s2 .box-cafe .box img:hover {
            width: 100%;
            height: 100%; } }

/* DONDE ENCONTRARNOS: section 1 */
.main__dondeencontrarnoss1 {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw; }
  .main__dondeencontrarnoss1__left {
    background-color: #b6a690; }
    .main__dondeencontrarnoss1__left h1 {
      margin: 0;
      font-weight: 800;
      font-size: calc(1.7em + 1vw);
      text-transform: uppercase;
      text-align: left;
      width: 50%; }
    .main__dondeencontrarnoss1__left__text {
      margin: 0;
      font-size: calc(0.4em + 1vw);
      font-weight: 600;
      text-align: justify;
      line-height: 150%;
      width: 100%; }
  .main__dondeencontrarnoss1__right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684569264/proyecto-final/copenhagen_psv7b7.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

/* DONDE ENCONTRARNOS: section 2 */
.main__dondeencontrarnoss2 {
  padding: 5vw;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh; }
  .main__dondeencontrarnoss2 h2 {
    margin: 0;
    font-weight: 600;
    font-size: calc(1.2em + 1vw); }
  .main__dondeencontrarnoss2__cards {
    margin: auto;
    padding: 1rem; }
    .main__dondeencontrarnoss2__cards__location {
      max-width: 960px;
      border-radius: 32px;
      box-shadow: -8px -8px 20px #f6ede4, 8px 8px 20px #a89b8e;
      box-sizing: border-box;
      margin: 20px;
      display: flex;
      flex-direction: column; }
      @media (min-width: 576px) {
        .main__dondeencontrarnoss2__cards__location {
          margin: 40px;
          padding: 32px;
          flex-direction: row;
          align-items: center; } }
      .main__dondeencontrarnoss2__cards__location__map {
        margin-bottom: 18px;
        width: 100%;
        max-height: 200px;
        border-radius: 32px;
        object-fit: cover; }
        @media (min-width: 576px) {
          .main__dondeencontrarnoss2__cards__location__map {
            width: 45%;
            max-height: none;
            min-height: 200px;
            margin-bottom: 0; } }
      @media (min-width: 576px) {
        .main__dondeencontrarnoss2__cards__location__info {
          width: 55%;
          padding-left: 1.5rem; } }
      .main__dondeencontrarnoss2__cards__location__info__title {
        text-transform: uppercase;
        font-size: calc(1.1rem + 1vw);
        line-height: 1.4;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
        box-decoration-break: clone;
        background: #b6a690;
        background-size: 25 .main__dondeencontrarnoss2__cards__location__info__title 100%;
        padding: 0 4px;
        padding-left: 10px;
        margin-left: -4px;
        margin-bottom: 2rem; }
      .main__dondeencontrarnoss2__cards__location__info__horario {
        display: block;
        font-size: calc(0.7rem + 0.2vw);
        line-height: 1.2;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 2rem; }
        @media (min-width: 576px) {
          .main__dondeencontrarnoss2__cards__location__info__horario {
            margin-bottom: 8px; } }

/* DONDE ENCONTRARNOS: section 3 */
.main-donde-encontrarnos-s3 {
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 10vh;
  background-color: #bf6f4e;
  width: 100%;
  min-height: 100vh;
  place-items: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-donde-encontrarnos-s3__grid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 400px));
    gap: 30px; }
    .main-donde-encontrarnos-s3__grid__img {
      margin: auto;
      width: 90%;
      height: 90%;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: -1px -1px 15px #d4977d, 10px 10px 10px #753d26; }
      .main-donde-encontrarnos-s3__grid__img:hover {
        transform: scale(1.05);
        transition: 0.2s;
        box-shadow: 10px 10px 10px #753d26; }

/* MEDIA QUERIS */
@media (min-width: 1024px) {
  .main__dondeencontrarnoss1 {
    flex-direction: row; }
    .main__dondeencontrarnoss1__left {
      width: 50%; }
      .main__dondeencontrarnoss1__left__text {
        text-align: left; }
    .main__dondeencontrarnoss1__right {
      width: 50%; } }

/* SUSTENTABILIDAD: section1 */
.main-sustentabilidad-s1 {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw; }
  .main-sustentabilidad-s1 .s1-left {
    background-color: #a4ac86; }
    .main-sustentabilidad-s1 .s1-left h1 {
      margin: 0;
      padding-bottom: 4vw;
      font-weight: 800;
      font-size: calc(1.7em + 1vw);
      text-transform: uppercase;
      text-align: left;
      max-width: 90%;
      word-break: break-all; }
    .main-sustentabilidad-s1 .s1-left p {
      margin: 0;
      font-size: calc(0.4em + 1vw);
      font-weight: 600;
      text-align: justify;
      line-height: 150%;
      width: 100%; }
  .main-sustentabilidad-s1 .s1-right {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684518137/proyecto-final/rsz_1cafe-sustentabilidad_sbfk1k.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; }

/* SUSTENTABILIDAD: section2 */
.main__sustentabilidad-s2 {
  height: 100vh;
  width: 100%;
  background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684681188/proyecto-final/hombre-cosecha-recoge-hojas-te-verde-fresco-campo-te-tierra-alta-chiang-mai-tailandia_ewm3dw.avif);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main__sustentabilidad-s2__wide {
    margin: auto;
    width: 80%; }
    .main__sustentabilidad-s2__wide__text {
      margin: 0 auto;
      font-size: calc(0.9rem + 1.8vw);
      font-weight: 800;
      color: #ffffff;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      text-transform: uppercase; }
      .main__sustentabilidad-s2__wide__text__link {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.5;
        transition: all 0.3s ease-in-out; }
        .main__sustentabilidad-s2__wide__text__link:hover {
          background-color: #a4ac86;
          transition: all 0.3s ease-in-out; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media screen and (min-width: 1024px) {
  .main-sustentabilidad-s1 {
    flex-direction: row; }
    .main-sustentabilidad-s1 .s1-left {
      width: 50%; }
      .main-sustentabilidad-s1 .s1-left p {
        text-align: left; }
    .main-sustentabilidad-s1 .s1-right {
      width: 50%; } }

/* CONTACTO: container 1 */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body,
button,
input {
  font-weight: 700;
  letter-spacing: 1.4px; }

.main-contacto-s1 {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: #eae0d5; }
  .main-contacto-s1 .container {
    margin: auto;
    padding: 1rem;
    flex: 0 1 700px; }
    .main-contacto-s1 .container .c1-titulo {
      margin: 0 auto;
      padding: 5vh;
      font-size: calc(1.2em + 1vw); }
    .main-contacto-s1 .container .screen {
      position: relative;
      background: #b6a690;
      border-radius: 15px;
      box-shadow: -10px -10px 9px #f6ede4, 5px 5px 9px #a89b8e; }
      .main-contacto-s1 .container .screen:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        z-index: -1; }
      .main-contacto-s1 .container .screen .screen-body {
        padding: 40px;
        display: flex;
        flex-direction: column; }
        .main-contacto-s1 .container .screen .screen-body .screen-body-item {
          flex: 1;
          padding: 0; }
          .main-contacto-s1 .container .screen .screen-body .screen-body-item .app-title {
            display: flex;
            flex-direction: column;
            position: relative;
            color: #fff;
            font-size: 26px; }
            .main-contacto-s1 .container .screen .screen-body .screen-body-item .app-title:after {
              content: "";
              display: none;
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 25px;
              height: 4px;
              background: #fff; }
            .main-contacto-s1 .container .screen .screen-body .screen-body-item .app-title span {
              margin-right: 12px; }
          .main-contacto-s1 .container .screen .screen-body .screen-body-item .app-contact {
            margin-top: 15px;
            font-size: 12px;
            color: #5a5248; }
            .main-contacto-s1 .container .screen .screen-body .screen-body-item .app-contact p {
              margin-bottom: 3px; }
        .main-contacto-s1 .container .screen .screen-body .left {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px; }
        .main-contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group {
          margin-bottom: 15px;
          font-weight: 600; }
          .main-contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #5a5248;
            color: #5a5248;
            font-size: 14px;
            font-weight: 700;
            line-height: inherit;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s; }
          .main-contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group::placeholder {
            color: #5a5248; }
          .main-contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group:focus {
            border-bottom-color: #5a5248; }
          .main-contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-button {
            background: none;
            border: none;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            outline: none; }
            .main-contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-button:hover {
              color: rgba(0, 0, 0, 0.8);
              transform: scale(1.07);
              transition: 1s transform; }
        .main-contacto-s1 .container .screen .screen-body .message {
          margin-top: 40px; }
        .main-contacto-s1 .container .screen .screen-body .buttons {
          margin-bottom: 0;
          text-align: right; }

@media screen and (min-width: 520px) {
  .screen-body .screen-body-item .app-title {
    flex-direction: column; }
    .screen-body .screen-body-item .app-title:after {
      display: block; } }

@media screen and (min-width: 600px) {
  .screen-body {
    padding: 40px; }
  .screen-body-item {
    padding: 0; } }

.footer {
  margin: 0;
  min-height: 20vh;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7); }
  .footer .follow-us {
    height: 50px;
    margin-bottom: 20px; }
    .footer .follow-us h4 {
      margin-top: 15px;
      font-size: 12px; }
    .footer .follow-us .social-media {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      align-items: center; }
      .footer .follow-us .social-media img {
        height: 30px;
        width: 30px; }
  .footer .copyright {
    color: #ffffff; }
    .footer .copyright a {
      color: #ffffff;
      text-decoration: none; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .footer {
    height: 150px; }
    .footer .follow-us {
      padding-bottom: 100px; }
      .footer .follow-us h4 {
        font-size: 16px; }
      .footer .follow-us .social-media {
        height: 50px; }
        .footer .follow-us .social-media img {
          height: 40px;
          width: 40px; } }

@media (min-width: 1024px) {
  .footer {
    width: 100vw;
    display: flex;
    align-items: center; }
    .footer .redes {
      width: 50%; }
      .footer .redes .follow-us {
        width: 300px; }
    .footer .copyright {
      width: 50vw; } }
