@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----- Tipografías ----- */
/* ----- Variables ----- */
.header {
  min-height: 30vh;
  width: 100vw;
  padding: 10px;
  margin-top: 0;
  background-color: #ffffff; }
  .header .header-nav {
    display: flex;
    align-items: center; }
    .header .header-nav .menu-hamburguesa .menu-boton {
      height: 30px;
      width: 30px;
      border: none;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 17px; }
      .header .header-nav .menu-hamburguesa .menu-boton:hoover {
        border-color: white; }
    .header .header-nav .menu-hamburguesa .iniciales-oc {
      width: 30px; }
    .header .header-nav .menu-hamburguesa .menu-lista .active {
      font-weight: 600; }
    .header .header-nav .header-logo {
      margin: auto; }
      .header .header-nav .header-logo .logo {
        width: 60vw;
        margin: auto; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .header .header-nav .header-logo {
    margin: auto; }
    .header .header-nav .header-logo .logo {
      width: 255px; } }

@media (min-width: 1024px) {
  .header .header-nav .menu-hamburguesa .menu .menu-lista ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  .header .navbar .container {
    flex-wrap: wrap;
    flex-direction: column; } }

.body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Montserrat", sans-serif; }

.main {
  min-height: 60vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }
  .main .highlighted-text {
    color: #fff; }

.s1 {
  height: 100vh;
  width: 100%;
  background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684355040/proyecto-final/rsz_fondo-granos-cafe_t1oifi.avif);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed; }
  .s1 h1 {
    font-size: calc(1.1rem + 3vw);
    font-weight: 800;
    color: #fff;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize; }

.main-index-s1 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/ }
  .main-index-s1 .s1-left {
    background-color: #a1b27d;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .main-index-s1 .s1-left h1 {
      /* font-size: calc(2rem + 1.8vw); */
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      /* margin-top: 40px; */
      margin-top: 3vw;
      /* margin-bottom: 40px; */
      margin-bottom: 2vw;
      /* margin-left: 80px; */
      margin-left: 5vw; }
    .main-index-s1 .s1-left p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: left;
      line-height: calc(1rem + 1.2vw);
      width: 80%;
      margin: auto;
      /* margin-left: 80px; */
      margin-left: 5vw;
      padding-bottom: 20px; }
    .main-index-s1 .s1-left .s1-button {
      margin-top: 0; }
      .main-index-s1 .s1-left .s1-button a {
        border: 3px solid #fff;
        padding: 10px;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        height: 40 px;
        border-radius: 30px;
        font-weight: bold;
        display: inline-block;
        /*margin-left: 10vw; */ }
  .main-index-s1 .s1-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684042038/proyecto-final/index_gy2zxk.avif);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh; }

/* usar extend pra todas las pages */
.index-container2 {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .index-container2 .sucursales .c2-img {
    width: 100%;
    margin-top: 30px;
    text-align: center; }
    .index-container2 .sucursales .c2-img:hover {
      border-radius: 100px;
      transform: scale(1.2); }
    .index-container2 .sucursales .c2-img img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden; }
  .index-container2 .sucursales .c2-text {
    width: 100%;
    text-align: center; }
    .index-container2 .sucursales .c2-text h2 {
      margin-top: 5px;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 1px; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .index-container1 .c1-img {
    height: 420px; }
  .index-container2 {
    width: 80%;
    justify-content: space-evenly; }
    .index-container2 .sucursales .c2-text h2 {
      margin-top: 15px; } }

@media (min-width: 1024px) {
  .main-index-s1 {
    flex-direction: row; }
  .index-container1 .c1-img {
    height: 520px; }
  .index-container2 {
    width: 95%;
    justify-content: space-between; } }

/* NUESTRO CAFÉ: container 1 */
.main-nuestro-cafe-s1 {
  display: flex;
  flex-direction: column-reverse;
  /* flex-direction: column-reverse; */
  /* MQ 1024 flex direction row*/ }
  .main-nuestro-cafe-s1 .s1-left {
    background-color: #a1b27d;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .main-nuestro-cafe-s1 .s1-left h1 {
      /* font-size: calc(2rem + 1.8vw); */
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      /* margin-top: 40px; */
      margin-top: 3vw;
      /* margin-bottom: 40px; */
      margin-bottom: 2vw;
      /* margin-left: 80px; */
      margin-left: 5vw; }
    .main-nuestro-cafe-s1 .s1-left p {
      font-size: calc(0.7rem + 0.6vw);
      text-align: left;
      line-height: calc(1rem + 1.2vw);
      width: 80%;
      margin: auto;
      /* margin-left: 80px; */
      margin-left: 5vw; }
    .main-nuestro-cafe-s1 .s1-left .s1-button {
      margin-top: 0; }
      .main-nuestro-cafe-s1 .s1-left .s1-button a {
        border: 3px solid #fff;
        padding: 10px;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        height: 40 px;
        border-radius: 30px;
        font-weight: bold;
        display: inline-block;
        /*margin-left: 10vw; */ }
  .main-nuestro-cafe-s1 .s1-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684075831/proyecto-final/nc-cafe-en-casa_mvdurz.avif);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
    /* min-width: 210px;
min-height: 264px; */ }

.video {
  height: 100vh; }

iframe {
  width: 100%;
  height: 100%;
  /* height: 100%; */ }

.nuestro-cafe-container1 {
  width: 100vw;
  margin: auto;
  margin-top: 39vh;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .nuestro-cafe-container1 .c1-casa {
    display: flex;
    flex-direction: column; }
    .nuestro-cafe-container1 .c1-casa h1 {
      margin-top: 5px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px; }
    .nuestro-cafe-container1 .c1-casa p {
      margin: 20px 20px 10px 20px;
      font-weight: 400;
      letter-spacing: 1px; }
  .nuestro-cafe-container1 .c1-video iframe {
    width: 230px;
    height: 476px;
    margin-top: 30px; }

/* NUESTRO CAFÉ: container 2 */
.nuestro-cafe-container2 {
  width: 100vw;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center; }
  .nuestro-cafe-container2 .c2-elegi h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px; }
  .nuestro-cafe-container2 .c2-cafes {
    margin: auto; }
    .nuestro-cafe-container2 .c2-cafes .c2-item1 {
      background-color: #8596b0;
      border-radius: 10px 10px 0 0;
      display: flex; }
    .nuestro-cafe-container2 .c2-cafes .c2-item2 {
      background-color: #729679;
      display: flex; }
    .nuestro-cafe-container2 .c2-cafes .c2-item3 {
      background-color: #e5accf;
      display: flex; }
    .nuestro-cafe-container2 .c2-cafes .c2-item4 {
      background-color: #fcdb68;
      display: flex; }
    .nuestro-cafe-container2 .c2-cafes .c2-item5 {
      background-color: #b07f6e;
      display: flex; }
    .nuestro-cafe-container2 .c2-cafes .c2-item6 {
      background-color: #383838;
      border-radius: 0 0 10px 10px;
      display: flex; }
    .nuestro-cafe-container2 .c2-cafes .variedad-cafe {
      width: 200px;
      height: 200px;
      margin: auto; }
      .nuestro-cafe-container2 .c2-cafes .variedad-cafe:hover {
        border-radius: 0;
        transform: scale(1.15); }
      .nuestro-cafe-container2 .c2-cafes .variedad-cafe img {
        width: 65%;
        margin: auto;
        text-align: center; }

/* NUESTRO CAFÉ: container 3 */
.nuestro-cafe-container3 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #c0a073; }
  .nuestro-cafe-container3 .c3-explicacion h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px; }
  .nuestro-cafe-container3 .c3-explicacion p {
    margin: 20px 20px 10px 20px;
    font-weight: 400;
    letter-spacing: 1px; }
  .nuestro-cafe-container3 .c3-video {
    max-height: 300px;
    width: 100vw;
    margin: auto; }
    .nuestro-cafe-container3 .c3-video iframe {
      position: initial;
      width: 100%;
      margin: 0;
      padding: auto;
      height: fit-content; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .nuestro-cafe-container1 {
    margin-top: 50vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start; }
    .nuestro-cafe-container1 .c1-casa {
      margin-top: 90px;
      padding: 0 30px;
      height: 250x;
      display: flex;
      flex-direction: column;
      align-items: flex-start h1;
        align-items-margin-top: 0; }
      .nuestro-cafe-container1 .c1-casa p {
        margin: auto;
        font-weight: 400;
        letter-spacing: 1px; }
    .nuestro-cafe-container1 .c1-video {
      max-height: 600px;
      width: 50%; }
      .nuestro-cafe-container1 .c1-video iframe {
        width: 300px;
        height: 476px;
        margin-top: 30px;
        margin-right: 30px; }
  .nuestro-cafe-container2 {
    width: 80vw; }
    .nuestro-cafe-container2 .c2-elegi h2 {
      font-size: 20px; }
    .nuestro-cafe-container2 .c2-cafes {
      width: 80%;
      height: 200px;
      display: flex; }
      .nuestro-cafe-container2 .c2-cafes .c2-item1 {
        border-radius: 10px 0 0 10px; }
      .nuestro-cafe-container2 .c2-cafes .c2-item6 {
        border-radius: 0 10px 10px 0; }
      .nuestro-cafe-container2 .c2-cafes .variedad-cafe {
        width: 150px;
        height: 150px; }
        .nuestro-cafe-container2 .c2-cafes .variedad-cafe:hover {
          width: 150px;
          height: 150px;
          border-radius: 0;
          transform: scale(1.15); }
        .nuestro-cafe-container2 .c2-cafes .variedad-cafe img {
          width: 80%;
          margin: auto;
          text-align: center; } }

@media (min-width: 1024px) {
  .main-nuestro-cafe-s1 {
    flex-direction: row; } }

/* DONDE ENCONTRARNOS: container 1 */
/* no se si lo voy a poner o no al listado, quizas haya q crear un div */
.donde-encontrarnos-container1 {
  width: 100%;
  margin-top: 39vh;
  text-align: center;
  padding-top: 20px; }
  .donde-encontrarnos-container1 .c1-lista-sucursale h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px; }

/* DONDE ENCONTRARNOS: container 2 */
.donde-encontrarnos-container2 {
  width: 100vw;
  text-align: center;
  margin: auto; }
  .donde-encontrarnos-container2 h3 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px; }
  .donde-encontrarnos-container2 .ubicacion {
    margin-top: 40px; }
    .donde-encontrarnos-container2 .ubicacion .c2-sucursales {
      padding-bottom: 15vh;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "map map" "map map" "foto horarios"; }
      .donde-encontrarnos-container2 .ubicacion .c2-sucursales .map {
        grid-area: map;
        width: 90vw;
        height: 300px; }
        .donde-encontrarnos-container2 .ubicacion .c2-sucursales .map iframe {
          width: 90vw;
          height: 90vw; }
      .donde-encontrarnos-container2 .ubicacion .c2-sucursales .foto {
        grid-area: foto;
        width: 50vw;
        height: 50vw; }
        .donde-encontrarnos-container2 .ubicacion .c2-sucursales .foto img {
          margin: 20px 20px 40px 10px;
          width: 50vw;
          height: 50vw;
          border-radius: 50%; }
      .donde-encontrarnos-container2 .ubicacion .c2-sucursales .horarios {
        grid-area: horarios;
        width: 40vw;
        height: 50vw; }
        .donde-encontrarnos-container2 .ubicacion .c2-sucursales .horarios p {
          width: 40vw;
          margin: auto;
          margin-top: 20px;
          padding-top: 30px;
          padding-left: 5px;
          font-size: 14px;
          font-weight: 500;
          text-align: left;
          letter-spacing: 1px; }
  .donde-encontrarnos-container2 hr {
    width: 280px;
    height: 3px;
    margin: auto;
    margin-top: 80px;
    border-style: none;
    background-color: #dcd9d4;
    background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-blend-mode: normal, lighten, soft-light; }

.c2-sucursal {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .donde-encontrarnos-container1 {
    margin-top: 45vh; }
  .donde-encontrarnos-container2 .ubicacion .c2-sucursales {
    padding-bottom: 25vh;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "map map foto" "map map horarios";
    justify-items: stretch; }
    .donde-encontrarnos-container2 .ubicacion .c2-sucursales .map {
      width: 40%;
      height: 300px;
      margin-left: 50px; }
      .donde-encontrarnos-container2 .ubicacion .c2-sucursales .map iframe {
        margin: auto;
        padding: 20px;
        width: 400px;
        height: 450px; }
    .donde-encontrarnos-container2 .ubicacion .c2-sucursales .foto {
      width: 20%;
      height: 20%;
      margin-bottom: 0; }
      .donde-encontrarnos-container2 .ubicacion .c2-sucursales .foto img {
        margin-right: 30px;
        padding: 20px;
        width: 215px;
        height: 215px;
        margin-bottom: 0; }
    .donde-encontrarnos-container2 .ubicacion .c2-sucursales .horarios {
      width: 20%;
      height: 20%; }
      .donde-encontrarnos-container2 .ubicacion .c2-sucursales .horarios p {
        margin-right: 25vh;
        padding: 20px;
        width: 215px;
        text-align: center;
        margin-left: 10px; } }

/* SUSTENTABILIDAD: container # */
.sustentabilidad-container1 {
  width: 100vw;
  margin: auto;
  margin-top: 39vh;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .sustentabilidad-container1 .c1-info-sustentabilidad {
    margin-bottom: 50px;
    padding: 20px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad h1 {
      margin-top: 40px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad p {
      margin: 20px 20px 20px 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad .c1-lista {
      margin: auto;
      letter-spacing: 1px;
      margin-bottom: 30px; }
      .sustentabilidad-container1 .c1-info-sustentabilidad .c1-lista ol {
        text-align: center;
        list-style: decimal;
        font-weight: 600;
        letter-spacing: 1px; }
    .sustentabilidad-container1 .c1-info-sustentabilidad a {
      width: 150px;
      margin: auto;
      font-size: 15px;
      padding: 20px;
      color: #000000;
      text-align: center;
      text-decoration: none; }
      .sustentabilidad-container1 .c1-info-sustentabilidad a:hover {
        font-size: 15px;
        padding: 20px;
        color: #000000;
        text-decoration: underline; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .sustentabilidad-container1 {
    margin-top: 50vh; } }

/* CONTACTO: container 1 */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px; }

.contacto-s1 {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c29c84; }
  .contacto-s1 .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px; }
    .contacto-s1 .container .c1-titulo {
      margin-bottom: 30px; }
    .contacto-s1 .container .screen {
      position: relative;
      background: #3e3e3e;
      border-radius: 15px; }
      .contacto-s1 .container .screen:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        z-index: -1; }
      .contacto-s1 .container .screen .screen-body {
        padding: 40px;
        display: flex;
        flex-direction: column; }
        .contacto-s1 .container .screen .screen-body .screen-body-item {
          flex: 1;
          padding: 0; }
          .contacto-s1 .container .screen .screen-body .screen-body-item .app-title {
            display: flex;
            flex-direction: column;
            /* flex-direction: row; */
            position: relative;
            color: #fff;
            font-size: 26px; }
            .contacto-s1 .container .screen .screen-body .screen-body-item .app-title:after {
              content: "";
              display: none;
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 25px;
              height: 4px;
              background: #fff; }
            .contacto-s1 .container .screen .screen-body .screen-body-item .app-title span {
              margin-right: 12px; }
          .contacto-s1 .container .screen .screen-body .screen-body-item .app-contact {
            margin-top: 15px;
            font-size: 12px;
            color: #888; }
            .contacto-s1 .container .screen .screen-body .screen-body-item .app-contact p {
              margin-bottom: 3px; }
        .contacto-s1 .container .screen .screen-body .left {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px; }
        .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group {
          margin-bottom: 15px;
          font-weight: 600; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #666;
            color: #ddd;
            font-size: 14px;
            font-weight: 700;
            line-height: inherit;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group::placeholder {
            color: #666; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group:focus {
            border-bottom-color: #ddd; }
          .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-button {
            background: none;
            border: none;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            outline: none; }
            .contacto-s1 .container .screen .screen-body .contacto-form .contacto-form-group .contacto-form-button:hover {
              color: #a1b27d;
              transform: scale(1.07);
              transition: 1s transform; }
        .contacto-s1 .container .screen .screen-body .message {
          margin-top: 40px; }
        .contacto-s1 .container .screen .screen-body .buttons {
          margin-bottom: 0;
          text-align: right; }

@media screen and (min-width: 520px) {
  .screen-body .screen-body-item .app-title {
    /* flex-direction: row; */
    flex-direction: column; }
    .screen-body .screen-body-item .app-title:after {
      display: block; } }

@media screen and (min-width: 600px) {
  .screen-body {
    padding: 40px; }
  .screen-body-item {
    padding: 0; } }

.footer {
  margin: 0;
  min-height: 20vh;
  height: 100px; }
  .footer .follow-us {
    height: 50px;
    margin-bottom: 20px; }
    .footer .follow-us h4 {
      margin-top: 15px;
      font-size: 12px; }
    .footer .follow-us .social-media {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      align-items: center; }
      .footer .follow-us .social-media img {
        height: 30px;
        width: 30px; }
  .footer .copyright {
    color: #ffffff;
    background-color: #212529; }
    .footer .copyright a {
      color: #ffffff;
      text-decoration: none; }

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */
@media (min-width: 768px) {
  .footer {
    height: 150px; }
    .footer .follow-us {
      padding-bottom: 100px; }
      .footer .follow-us h4 {
        font-size: 16px; }
      .footer .follow-us .social-media {
        height: 50px; }
        .footer .follow-us .social-media img {
          height: 40px;
          width: 40px; } }

@media (min-width: 1024px) {
  .footer {
    width: 100vw;
    display: flex;
    align-items: center; }
    .footer .redes {
      width: 50%; }
      .footer .redes .follow-us {
        width: 300px; }
    .footer .copyright {
      width: 50vw; } }
