.body{
    background: $claro;
    font-family: $typo;
    color: $oscuro;
}

.main {
    min-height: 60vh;
    width: 100vw;
    margin: auto;
    // margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    .highlighted-text {
        color: #fff;
      }
      position: relative;

}
