/* DONDE ENCONTRARNOS: container 1 */
.main-donde-encontrarnos-s1 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/

  .s1-left {
    background-color: #bf6f4e;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    h1 {
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 2vw;
      margin-left: 5vw;
    }

    p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: justify;
      line-height: calc(1rem + 1.2vw);
      width: 100%;
      margin: auto;
      /* margin-left: 80px; */
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 20px;
    }
  }
  .s1-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684569264/proyecto-final/copenhagen_psv7b7.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}

/* DONDE ENCONTRARNOS: section 2 */


.main-donde-encontrarnos-s2 {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  h2 {
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    font-weight: 600;
    font-size: calc(1.1rem + 2vw);
  }
  .s2-cards{
    margin: auto;
    .card-location {
      max-width: 960px;
      border-radius: 32px;
      box-shadow:-24px -24px 80px #f6ede4, 24px 24px 80px #a89b8e;
      padding: 1rem;
      box-sizing: border-box;
      margin: 20px;
      display: flex;
      flex-direction: column;
      @include locations {
        flex-direction: row;
        align-items: center;
        margin: 40px;
        padding: 32px;
      }
      .card-map {
        width: 100%;
        max-height: 200px;
        border-radius: 32px;
        object-fit: cover;
        margin-bottom: 18px;
        @include locations {
          width: 45%;
          max-height: none;
          min-height: 200px;
          margin-bottom: 0;
        }
      }
      
      .card-info {
        @include locations {
          width: 55%;
          padding-left: 1.5rem;
        }
        .card-title {
          text-transform: uppercase;
          font-size: calc(1.1rem + 1vw);
          line-height: 1.4;
          font-weight: 600;
          color: $oscuro;
          box-decoration-break: clone;
          background: $tostado;
          background-size: 25& 100% ;
          padding: 0 4px;
          padding-left: 10px;
          margin-left: -4px;
          margin-bottom: 2rem;
        }
        
        .card-horario {
          display: block;
          font-size: calc(0.7rem + 0.2vw);
          line-height:  1.2;
          text-transform: uppercase;
          color: $oscuro;
          margin-bottom: 2rem;
        
          
          @include locations {
            margin-bottom: 8px;
          }
        }
      }
    }

  }
}


/* MEDIA QUERIS */


@media screen and (min-width: 1024px) {
  .main-donde-encontrarnos-s1 {
    flex-direction: row;
    .s1-left {
      // width: 50%;
      h1 {
        width: 60%;
        margin-bottom: 1vw;
      }

      p {
        width: 90%;
        text-align: left;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2px;
      }
      .s1-right {
        width: 50%;
      }
    }
  }
}











