.body{
    background-image: $fondo-oc;
}

.main {
    min-height: 60vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
