/* DONDE ENCONTRARNOS: section 1 */

.main__dondeencontrarnoss1 {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;


  &__left {
    background-color: $tostado;
    @extend %bloque-left;

    h1 {
      margin: 0;
      font-weight: 800;
      font-size: $typo-large;
      text-transform: uppercase;
      text-align: left;
      width: 50%;
    }

    &__text {
      margin : 0;
      font-size: $typo-small;
      font-weight: 600;
      text-align: justify;
      line-height: 150%;
      width: 100%;
    }
  }
  &__right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684569264/proyecto-final/copenhagen_psv7b7.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

  }
}

/* DONDE ENCONTRARNOS: section 2 */

.main__dondeencontrarnoss2 {
  padding: 5vw;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  h2 {
    margin: 0;
    font-weight: 600;
    font-size: $typo-medium;
  }
  &__cards {
    margin: auto;
    padding: 1rem;
    &__location {
      max-width: 960px;
      border-radius: 32px;
      box-shadow: -8px -8px 20px #f6ede4, 8px 8px 20px #a89b8e;
      box-sizing: border-box;
      margin: 20px;
      display: flex;
      flex-direction: column;
      @include locations {
        margin: 40px;
        padding: 32px;
        flex-direction: row;
        align-items: center;
      }
      &__map {
        margin-bottom: 18px;
        width: 100%;
        max-height: 200px;
        border-radius: 32px;
        object-fit: cover;
        @include locations {
          width: 45%;
          max-height: none;
          min-height: 200px;
          margin-bottom: 0;
        }
      }

      &__info {
        @include locations {
          width: 55%;
          padding-left: 1.5rem;
        }
        &__title {
          text-transform: uppercase;
          font-size: calc(1.1rem + 1vw);
          line-height: 1.4;
          font-weight: 600;
          color: $oscuro;
          box-decoration-break: clone;
          background: $tostado;
          background-size: 25& 100%;
          padding: 0 4px;
          padding-left: 10px;
          margin-left: -4px;
          margin-bottom: 2rem;
        }

        &__horario {
          display: block;
          font-size: calc(0.7rem + 0.2vw);
          line-height: 1.2;
          text-transform: uppercase;
          color: $oscuro;
          margin-bottom: 2rem;

          @include locations {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

/* DONDE ENCONTRARNOS: section 3 */

.main-donde-encontrarnos-s3 {
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 10vh;
  background-color: $terracota;
  width: 100%;
  min-height: 100vh;
  place-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__grid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 400px));
    gap: 30px;
    &__img {
      margin: auto;
      width: 90%;
      height: 90%;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: -1px -1px 15px rgb(212, 151, 125), 10px 10px 10px #753d26;

      &:hover{
        transform: scale(1.05);
        transition: 0.2s;
        box-shadow: 10px 10px 10px #753d26;

      }
    }
  }
}

/* MEDIA QUERIS */

@media (min-width: 1024px) {
  .main__dondeencontrarnoss1 {
    flex-direction: row;
    &__left {
      width: 50%;

      &__text {
        text-align: left;
    }
   }
  &__right {
    width: 50%;
  }
}
}

