/* SUSTENTABILIDAD: section1 */

.main-sustentabilidad-s1 {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;

  .s1-left {
    background-color: $verde;
    @extend %bloque-left;

    h1 {
      margin: 0;
      padding-bottom: 4vw;
      font-weight: 800;
      font-size: $typo-large;
      text-transform: uppercase;
      text-align: left;
      max-width: 90%;
      word-break:break-all
    }

    p {
      margin :  0;
      font-size: $typo-small;
      font-weight: 600;
      text-align: justify;
      line-height: 150%;
      width: 100%;
    }
  }
  .s1-right {
    height: 100vh;

    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684518137/proyecto-final/rsz_1cafe-sustentabilidad_sbfk1k.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}

/* SUSTENTABILIDAD: section2 */
.main__sustentabilidad-s2 {
  height: 100vh;
  width: 100%;
  background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684681188/proyecto-final/hombre-cosecha-recoge-hojas-te-verde-fresco-campo-te-tierra-alta-chiang-mai-tailandia_ewm3dw.avif);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wide {
    margin: auto;
    width: 80%;
    &__text {
      margin: 0 auto;
      font-size: calc(0.9rem + 1.8vw);
      font-weight: 800;
      color: #ffffff;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      text-transform: uppercase;
      &__link {
        text-decoration: none;
        color: #ffffff ;
        font-weight: 700;
        line-height: 1.5;
        transition: all 0.3s ease-in-out;
         &:hover{
         background-color: $verde;
         transition: all 0.3s ease-in-out;

        }
      }
    }
  }
}

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */

@media screen and (min-width: 1024px) {
  .main-sustentabilidad-s1 {
    flex-direction: row;
    .s1-left {
      width: 50%;
      p {
        text-align: left;
      }
    }
    .s1-right {
      width: 50%;
    }
  }
}