/* NUESTRO CAFÉ: container 1 */

.nuestro-cafe-container1 {
  width: 100vw;
  margin: auto;
  margin-top: 39vh;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  .c1-casa {
    display: flex;
    flex-direction: column;
    h1 {
      margin-top: 5px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
    }
    p {
      margin: 20px 20px 10px 20px;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
  .c1-video {
    // max-height: 600px;
    iframe {
      width: 230px;
      height: 476px;
      margin-top: 30px;
    }
  }
}

/* NUESTRO CAFÉ: container 2 */

.nuestro-cafe-container2 {
  width: 100vw;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  .c2-elegi {
    h2 {
      margin-top: 20px;
      margin-bottom: 30px;
      //   font-size: 30px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .c2-cafes {
    margin: auto;
    .c2-item1 {
      @include color-variedad(#8596b0);
      border-radius: 10px 10px 0 0;
      display: flex;
    }

    .c2-item2 {
      @include color-variedad(#729679);
      display: flex;
    }

    .c2-item3 {
      @include color-variedad(#e5accf);
      display: flex;
    }

    .c2-item4 {
      @include color-variedad(#fcdb68);
      display: flex;
    }

    .c2-item5 {
      @include color-variedad(#b07f6e);
      display: flex;
    }

    .c2-item6 {
      @include color-variedad(#383838);
      border-radius: 0 0 10px 10px;
      display: flex;
    }
    .variedad-cafe {
      width: 200px;
      height: 200px;
      margin: auto;
      &:hover {
        border-radius: 0;
        transform: scale(1.15);
      }
      img {
        width: 65%;
        margin: auto;
        text-align: center;
      }
    }
  }
}

/* NUESTRO CAFÉ: container 3 */

.nuestro-cafe-container3 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #c0a073;
  .c3-explicacion {
    h2 {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
    }
    p {
      margin: 20px 20px 10px 20px;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
  .c3-video {
    max-height: 300px;
    width: 100vw;
    margin: auto;
    iframe {
      position: initial;
      width: 100%;
      margin: 0;
      padding: auto;
      height: fit-content;
    }
  }
}

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */

@media (min-width: 768px) {
  .nuestro-cafe-container1 {
    margin-top: 50vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    .c1-casa {
      margin-top:90px;
      padding: 0 30px;
      height: 250x;
      display: flex;
      flex-direction: column;
      align-items: flex-start
      h1{
        margin-top: 0;
      }
      p {
        margin: auto;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
    .c1-video {
      max-height: 600px;
      width: 50%;
      iframe {
        width: 300px;
        height: 476px;
        margin-top: 30px;
        margin-right: 30px;
      }
    }
  }

  .nuestro-cafe-container2 {
    width: 80vw;
    .c2-elegi {
      h2 {
        font-size: 20px;
      }
    }
    .c2-cafes {
      // margin: auto;
      width: 80%;
      height: 200px;
      display: flex;
      .c2-item1 {
        border-radius: 10px 0 0 10px;
      }

      .c2-item6 {
        border-radius: 0 10px 10px 0;
      }
      .variedad-cafe {
        width: 150px;
        height: 150px;
        //   margin: auto;
        &:hover {
          width: 150px;
          height: 150px;
          border-radius: 0;
          transform: scale(1.15);
        }
        img {
          width: 80%;
          margin: auto;
          text-align: center;
        }
      }
    }
  }
}
