.main-index-s1 {
  height: 100vh;
  width: 100%;
  background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684355040/proyecto-final/rsz_fondo-granos-cafe_t1oifi.avif);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  h1 {
    font-size: calc(1.1rem + 3vw);
    font-weight: 800;
    color: #fff;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize;
  }
}

.main-index-s2 {
  display: flex;
  flex-direction: column-reverse;
  /* MQ 1024 flex direction row*/

  .s2-left {
    background-color: #a4ac86;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    h1 {
      font-weight: 800;
      font-size: calc(1.1rem + 2vw);
      text-transform: uppercase;
      width: 50%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 2vw;
      margin-left: 5vw;
    }

    p {
      font-size: calc(0.7rem + 0.4vw);
      text-align: justify;
      line-height: calc(1rem + 1.2vw);
      width: 100%;
      margin: auto;
      /* margin-left: 80px; */
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 20px;
    }
  }
  .s2-right {
    background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684042038/proyecto-final/index_gy2zxk.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}

.main-index-s3 {
  height: 80vh;
  width: 100vw;
  background: #b6a690;
  display: flex;
  justify-content: center;
  align-items: center;
  .s3-wide {
    margin: auto;
    padding: auto;
    padding: 5%;
    .s3-link {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto;
      .link-pages {
        height: calc(4em + 7vw);
        width: calc(4em + 7vw);
        background: #b6a690;
        border-radius: 20px;
        box-shadow: -5px -5px 9px #c4b39f, 5px 5px 9px #5e68794d;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          box-shadow: inset -5px -5px 9px #c4b39f, inset 5px 5px 9px #5e68794d;
          opacity: 0.7;
          transition: 0.4s;
        }
        .page-link {
          height: 100%;
          width: 100%;
          visibility: visible;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          .page-img {
            height: calc(1.5em + 2vw);
            width: calc(0.7em + 2vw);
            margin: auto;
          }
          .size-img {
            width: 45%;
            height: 40%;
          }
        }
      }
    }
  }
}



/* usar extend pra todas las pages */

/*      ------------ MOBILE FIRST - MEDIA QUERIES ------------      */

@media (min-width: 768px) {
  .main-index-s3 {
    justify-content: space-betweeb;
  }
}

@media (min-width: 1024px) {
  .main-index-s2 {
    flex-direction: row;
    .s2-left {
      // width: 50%;
      h1{
        margin-bottom: 1vw;
      }

      p {
        width: 90%;
        text-align: left;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2px;
  
    }
    .s2-right {
      width: 50%;

    }

  }
}
}
