/* CONTACTO: container 1 */

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contacto-s1 {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#eae0d5;

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    .c1-titulo{
      padding-top: 5vh;
      padding-bottom: 2vh;
      padding-left: 5vw;
      font-weight: 600;
      font-size: calc(1.1rem + 2vw);
    }
    .screen {
      position: relative;
      background: #b6a690;
      border-radius: 15px;
      box-shadow: -10px -10px 9px #f6ede4, 5px 5px 9px #a89b8e;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        z-index: -1;

      }
      .screen-body {
        padding: 40px;
        display: flex;
        flex-direction: column;
        .screen-body-item {
          flex: 1;
        //   padding: 50px;
          padding: 0;


          .app-title {
            display: flex;
            flex-direction: column;
                        /* flex-direction: row; */
            position: relative;
            color: #fff;
            font-size: 26px;
            &:after {
              content: "";
              display: none;
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 25px;
              height: 4px;
              background: #fff;
            }
            span {
                margin-right: 12px;
              }
  
          }
          .app-contact {
            // margin-top: auto;
            margin-top: 15px;
            font-size: 12px;
            color: rgb(90, 82, 72);
            p{
                margin-bottom: 3px;
            }
          }
        }
        .left {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
        }
        .contacto-form {
          .contacto-form-group {
            margin-bottom: 15px;
            font-weight: 600;
            .contacto-form-control {
              width: 100%;
              padding: 10px 0;
              background: none;
              border: none;
              border-bottom: 1px solid rgb(90, 82, 72);
              color: rgb(90, 82, 72);
              font-size: 14px;
              font-weight: 700;
              line-height: inherit;
              letter-spacing: 1.4px;
              text-transform: uppercase;
              outline: none;
              transition: border-color 0.2s;
            }
            &::placeholder {
              color: rgb(90, 82, 72);
            }
            &:focus {
              border-bottom-color: rgb(90, 82, 72);
            }
            .contacto-form-button {
              background: none;
              border: none;
              color: #fff;
              font-size: 14px;
              cursor: pointer;
              outline: none;
              &:hover {
                color: hsla(0, 0%, 0%, 0.8);
                transform: scale(1.07);
                transition: 1s transform;
              }
            }
          }
        }
        .message {
          margin-top: 40px;
        //   font-weight: 900;
        }
        .buttons {
          margin-bottom: 0;
          text-align: right;
        }
      }
    }
  }
}


@media screen and (min-width: 520px) {
  .screen-body {
    // flex-direction: column;
    .left {
    //   margin-bottom: 30px;
    }
    .screen-body-item {
        .app-title {
          /* flex-direction: row; */
          flex-direction: column;
          &:after {
            // display: none;
            display: block;
          }
          span {
            // margin-right: 12px;
          }
        }
    }
  }



}

@media screen and (min-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
