.contacto-s1 {
  display: flex;
  min-height: 100vh;
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    .screen {
      position: relative;
      background: #3e3e3e;
      border-radius: 15px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        z-index: -1;
      }
      .screen-body {
        display: flex;
        .screen-body-item {
          flex: 1;
          padding: 50px;
          .app-title {
            display: flex;
            flex-direction: column;
            position: relative;
            color: #fff;
            font-size: 26px;
            &:after {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 25px;
              height: 4px;
              background: #fff;
            }
          }
          .app-contact {
            margin-top: auto;
            margin-bottom: 1rem;
            font-size: 8px;
            color: #888;
            p {
              margin-bottom: 0;
            }
          }
        }
        .left {
          display: flex;
          flex-direction: column;
        }
        .contacto-form {
          .contacto-form-group {
            margin-bottom: 15px;
            .contacto-form-control {
              width: 100%;
              padding: 10px 0;
              background: none;
              border: none;
              border-bottom: 1px solid #666;
              color: #ddd;
              font-size: 14px;
              text-transform: uppercase;
              outline: none;
              transition: border-color 0.2s;
            }
            &::placeholder {
              color: #666;
            }
            &:focus {
              border-bottom-color: #ddd;
            }
            .contacto-form-button {
              background: none;
              border: none;
              color: #fff;
              font-size: 14px;
              cursor: pointer;
              outline: none;
              &:hover {
                color: #a1b27d;
                transform: scale(1.07);
                transition: 1s transform;
              }
            }
          }
        }
        .message {
          margin-top: 40px;
        }
        .buttons {
          margin-bottom: 0;
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
    .left {
      margin-bottom: 30px;
    }
    .screen-body-item {
      .app-title {
        /* flex-direction: row; */
        &:after {
          display: none;
        }
        span {
          margin-right: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
