.main-index-s3 {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .sucursales {
    .c2-img {
      // width: 100%;
      margin-top: 30px;
      text-align: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      &:hover {
        border-radius: 100px;
        transform: scale(1.2);
      }
      div{
        background-image: url(https://res.cloudinary.com/drb5udcck/image/upload/v1684394570/page-cafe_groew9.png);
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;

      }
      a {
      
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .c2-text {
      width: 100%;
      text-align: center;
      h2 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }
}
