// -------  MIXIN -------- //


@mixin color-variedad ($background-color){
    background-color: $background-color;
}
@mixin locations {
    @media (min-width: 576px) {
      @content;
    }
  }
  

// -------  EXTEND -------- //

%bloque-left{
  margin: auto;
  padding: 5vw;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;

}