/* ----- Tipografías ----- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet');
$typo: 'Montserrat', sans-serif;



/* ----- Variables ----- */

$typo-large: calc(1.7em + 1vw);
$typo-medium: calc(1.2em + 1vw);
$typo-small: 1rem;
$typo-small: calc(0.4em + 1vw);

/* ----- Paleta de colores ----- */
$claro:  #eae0d5;
$tostado: #b6a690;
$verde: #a4ac86 ;
$terracota:  #bf6f4e ;
$oscuro: hsla(0, 0%, 0%, 0.7) ;
$gradiente: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);


